[Desktop Entry]
Encoding=UTF-8
Name=HYDRA
Comment=Connect to the HYDRA P2P Network
Exec=hydra-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/hydra;
Categories=Office;Finance;
