
## <summary>policy for locktrip</summary>


########################################
## <summary>
##	Transition to locktrip.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`locktrip_domtrans',`
	gen_require(`
		type locktrip_t, locktrip_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, locktrip_exec_t, locktrip_t)
')


########################################
## <summary>
##	Execute locktrip server in the locktrip domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locktrip_initrc_domtrans',`
	gen_require(`
		type locktrip_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, locktrip_initrc_exec_t)
')


########################################
## <summary>
##	Search locktrip lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locktrip_search_lib',`
	gen_require(`
		type locktrip_var_lib_t;
	')

	allow $1 locktrip_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read locktrip lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locktrip_read_lib_files',`
	gen_require(`
		type locktrip_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, locktrip_var_lib_t, locktrip_var_lib_t)
')

########################################
## <summary>
##	Manage locktrip lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locktrip_manage_lib_files',`
	gen_require(`
		type locktrip_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, locktrip_var_lib_t, locktrip_var_lib_t)
')

########################################
## <summary>
##	Manage locktrip lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locktrip_manage_lib_dirs',`
	gen_require(`
		type locktrip_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, locktrip_var_lib_t, locktrip_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a locktrip environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`locktrip_admin',`
	gen_require(`
		type locktrip_t;
		type locktrip_initrc_exec_t;
		type locktrip_var_lib_t;
	')

	allow $1 locktrip_t:process { ptrace signal_perms };
	ps_process_pattern($1, locktrip_t)

	locktrip_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 locktrip_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, locktrip_var_lib_t)

')

