/*--------------------------------------------
Push Button Transparent CSS
--------------------------------------------*/
QPushButton {
	color: #ffffff;
	background-color: #a2c5bf;
	padding: 6px;
	border: none;
	min-width: 0px;
	border-radius: 2px;
	margin: 5px;
}
QPushButton::hover{
	background-color: #d87a61;
	padding-top: 5px;
	padding-bottom: 5px;
}
QPushButton::pressed{
	background-color: #223843;
}
QPushButton::disabled{
	background-color: transparent;
}