/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #250d1e !important; 
    background: #ffffff;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 0px;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: white;
    background: #d87a61;
}
QToolButton:hover:!checked {
    color: white !important;
    background: #9cc4be;
}
QToolButton:disabled {
    color: white;
    background: rgba(45, 45, 45, 40%);
}
